/* Use this file
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require venues
 *= require_self
 */

ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 35px;
}

.col-sm-6 img {
  max-width: 500px;
}

.btn.btn-danger {
  background-color: pink;
}

.container-fluid {
  background-color: #add8e6;
  color: white;
}

a {
  background-color: #add8e6;
  color: white;
}

#user_info {
  margin-bottom: 25px;
}

#venue_info {
  margin-bottom: 25px;
}

#buttons {
  margin-bottom: 25px;
}

#user_description {
  margin-bottom: 25px;
}

#show_information {
  border: 1px dashed black;
}

#search_bar {
  margin-bottom: 25px;
  border: 1px dashed black;
}

#myCarousel {
  margin-bottom: 25px;
}

#home_info {
  margin-bottom: 25px;
}

#map {
  height:
}

#venues {
  margin-bottom: 25px;
}

/*#footer {
  width: 100%;
  position: absolute;
  bottom:0;
  left:0;
}*/

nav {
  width: 100%;
  position: fixed;
}

#searchButton {
  display: inline;
}