<footer>
  <div class="row">
    <div class="col-sm-6">
      <h4 style="text-align: center">
        Open Mic World Tour &copy 2016</li>
      </h4>
    </div>
    <div class="col-sm-6">
      <h4 style="text-align: center"><%= link_to "GitHub Repository", 'https://github.com/sf-wdi-29-vagabond-group-4/open-mic', class: "github" %></h4>
    </div>
  </div>
</footer>
