<nav class="navbar navbar-color" id="nav">
  <div class="container-fluid navbar-color" id="header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand navbar-color" href="/">Open Mic World Tour</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/venues" class="navbar-color">Venues<span class="sr-only ">(current)</span></a></li>
        <li><a href="/users" class="navbar-color">Members<span class="sr-only">(current)</span></a></li>
        <li><a href="/about" class="navbar-color">About Us<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact" class="navbar-color">Contact</a></li>
        <% if current_user %>
          <li><%= link_to current_user.first_name, user_path(current_user), class: "navbar-color currUser" %></li>
          <li><%= link_to "Sign Out", sessions_path, method: :delete, class: "navbar-color" %></li>
        <% else %>
          <li><%= link_to "Sign in", sign_in_path, method: :get, class: "navbar-color" %></li>
          <li><%= link_to "Sign up", new_user_path, method: :get, class: "navbar-color" %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
